<div id="page_wrapper">
		<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>


	<div id="content">
		<h1>Hey, I'm Salman Akram</h1>
		<p>Welcome to my site sample </p>
		<p>This week I built a great blog in Rails 4, you are actually on the demo application</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://www.twitter.com">@salman_3T</a>
		</p>
	</div>
	
</div>
